.highlight-word {
  position: relative;
  display: inline-block;
}

.highlight-word::before {
  content: "club";
  background-image: url("/images/pattern-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 68.06px; */
  /* height: 158.9px; */
  width: 100%;
  height: 100%;
  padding: 7px;
}
