.highlight-word {
  position: relative;
  display: inline-block;
}

.highlight-word::before {
  content: "";
  position: absolute;
  background-image: url("/images/pattern-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
